@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --RosaClaro:#ffafc7;
    --RosaMedio:#e99bb2;
    --RosaEscuro:#a75e76;
    --RosaIntermediário:#cf678a;
    --Branco:#fbfbfb;
    --Preto:#000000;
    --Cinza:#333;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background-color: var(--RosaIntermediário);
    color: var(--Preto);
}

header {
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;
    margin-left: 20px ;
    width: 80%;
    position: relative;
}

header h1 {
    display: flex;
    align-items: end;
    font-size: 90px;
    color: var(--Branco);
    margin-bottom: 10px;
    font-weight: bold;
}

main {
    margin: 20px auto;
    width: 90%;
}


.conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    height:260px ;
    width: 200px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin: 5px;
    padding: 15px;
    cursor: pointer;
}

.card img{
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.card p{
    margin-top: 10px;
    font-size: 14px;
    color: var(--Cinza);

}
