@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --RosaClaro:#ffafc7;
    --RosaMedio:#e99bb2;
    --RosaEscuro:#a75e76;
    --Branco:#fbfbfb;
    --Preto:#000000;


}

body{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #d8dde2, var(--RosaMedio));
    
}

.container {
    display: flex;
    height: 500px;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0.6, 0.3, 0.3, 0.3);
    overflow: hidden;
    background-color: var(--Branco);

}

.form-section {
    flex: 1;
    background-color: var(--RosaMedio);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section h1 {
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 36px;
    color:var(--Branco);
    margin-bottom: 20px;
}

.form-section label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-section input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--Branco);
    background-color: var(--RosaMedio);
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 14px;
    outline: none;
}

.form-section form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-section button {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 10px;
    border: none;
    background-color: var(--Branco);
    color:var(--RosaEscuro);
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bolder;
}

.brand-section h1{
    font-size: 3rem;
    color: var(--RosaEscuro);
}

.form-section button:hover {
    background-color: #ffd8e4;
}

.form-section p {
    font-weight: bold;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555;
}

.brand-section {
    flex: 1;
    background-color: var(--Branco);
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-section .logo-picspire {
    max-width: 70%;
}



