@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --RosaClaro:#ffafc7;
    --RosaMedio:#e99bb2;
    --RosaEscuro:#a75e76;
    --Rosa:#d16b8c;
    --Branco:#fbfbfb;
    --Preto:#000000;


}

body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}


/**
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8d5e0;
}
**/

.header {
    margin-left: 30px;
}

.header h1{
    font-size: 120px;
    text-align: left;
    font-weight: bold;
    color: var(--Rosa);

}

.content {
    font-size: 1.6rem;
    color:var(--Preto);
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

.footer {
    margin-top: 90px;
}

.footer button{
    position: fixed;
    top: 90%; 
    right: 40px; 
    transform: translateY(-50%);
    height: 60px;
    width: 300px;
    border: none;
    border-radius: 25px;
    background-color: var(--Rosa);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;

}

.start-button:hover {
    background-color: #b25772;
}

.start-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

